* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #69dee0;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 2rem;
  border: 2px solid black;
  box-shadow: 0 0 1rem rgba(36, 26, 26, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #9ff5bcec;
}

.box:hover{
  background-color: #6ce07f;
  font-size: 4.5rem;
  border-radius: 2.5rem;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}
#reset-btn:hover{
  color: crimson;
  background-color: #191913;
   border-radius: 2rem;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
